body {
  margin: 0 0;
}

.flex-container {
  display: flex;

}

.wrapper {
  position: absolute;
    width: 100%;
    height: 100%;
}

hr {
  display: block;
  float: left;
  overflow: hidden;
  border-width: 1.5px;
  width: 125px;
  color: #000;
  border-style: solid;
}

.button_container {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 30px;
  cursor: pointer;
  z-index: 101;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active {
  position: fixed;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;

}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FFF;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 100;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 500px;
  min-height: 500px;
  margin-top: 20%;
  font-size: 50px;
  font-family: 'Spectral', serif;
  font-weight:700;
  text-align: center;
}
.overlay hr {
  color: #fff;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: left;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  margin: -65px auto;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  border-width: 1.5px;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}



#left {
  display: flex;
  width: 50vw;
  height: 100vh;
  background-color: #FFF;

  float: left;
}
#right {
  float: right;
  display: flex;
  width: 50vw;
  height: 100vh;

  background-color: #000;
  align-items: center;
  overflow:auto;
}
.textbox {

  flex-basis: 500px;
  max-width: 300px;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}

.left-textbox {
  margin-top: 20px;
  width: 500px;
  max-width: 300px;
  margin-right: 15%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}
.contact-textbox {

  flex-basis: 500px;
  max-width: 300px;
  margin-top: -40%;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}

h2 {
  font-family: 'Spectral', serif;
  font-size:30px;
  color: #fff;
  line-height: 1.1;
}

h1 {
  font-family: 'Spectral', serif;
  font-size:80px;
  font-weight: 700;
  color: #000;
  line-height: 1.1;
}

p {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  color: #fff;
  display: block;
}



#left hr {
    margin-top: -20px;
}

#right hr {
  color: #FFF;
}


#headerbox {
  margin-top: 5%;
  margin-left: 8%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;


}

#headerbox p {
  color: black;
}

.photo-1 {
  width: 30%;
  min-width: 200px;
  height: auto;
  float: left;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin-bottom: -5px;

}

.photo-2 {
  width: 40vw;
  min-width: 200px;
  height: auto;
  position:relative;
  float: right;
  overflow: hidden;

}

.logo {
  height: 50px;
  width: 50px;
  margin-bottom: -25px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 100px;

}

#footer ul {
  list-style: none;
  font-family: 'Source Code Pro', sans-serif;
  margin: 0 0;
  display: inline;
  height: 50px;
  float: left;
}

#footer ul li a {
  text-decoration: none;
  color: #000;
}

#footer ul li a:hover {
  color: #B2b2b2;

}
#quotes {
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  bottom: 0;

}
#quote-white{
  display: inline-block;
  float: right;
}

#quote-black {
  display: inline-block;

}
h3 {
  font-size: 12px;
  color: #B2B2B2;
  font-weight: normal;
}

h4 {
  font-size: 12px;
  color: #000;
  font-weight: normal;
}


@keyframes fadeinDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Internet Explorer */
@-ms-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Opera < 12.1 */
@-o-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}
@media screen and (max-width: 900px) {

  #quotes {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #quotes {
    display: inline-block;
    margin: 0 0;
    margin-top: 40px;
    margin-right: 3%;
    float: right;
    width: 0px;
    height: 0px;
  }

#quote-white {
  display: none;
}

#quote-black {
  display: block;
  float: right;
  margin: 0 0;
  margin-right: 5px;
}

.button_container {
  top: 2%;
  right: 5%;
}

.button_container span {
    background: black;
    color: black;

  }

#container {
    display: block;
  }

.wrapper {
    position: absolute;

  }

#left {
    display: flex;
    width: 100vw;
    height: 500px;

  }

#right {
    display: flex;
    width: 100vw;
    height: 650px;

  }

p {
  font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#footer ul {
  margin-top: 15px;
}

.photo-1 {
  margin-bottom: 95px;
  right: 0;
  position: absolute;
  bottom: 0;
}

.textbox {
  margin-left: 8%;
  margin-top: 50px;
}


@media screen and (max-width: 600px) {

#right {
  height: 520px;
}

h1 {
  font-size: 70px;
}

.textbox {
  margin-top:-20px;
}

h3, h4{
  font-size: 9px;
}

p {
  font-size: 12px;
}

#footer ul {
  margin-top: 25px;
}
}
