body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: absolute;
    width: 100%;
    height: 100%;
}
.button {
  height: 40px;
  width: 120px;
  border: white 3px solid;
  color: #FFF;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  display:table-cell;
    vertical-align:middle;
    text-align:center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.button:hover {
  background-color: #fff;
  color: #000;
}
.button p {
  display: block;
  margin: auto;
}
hr {
  display: block;
  float: left;
  overflow: hidden;
  border-width: 1.5px;
  width: 125px;
  color: #000;
  border-style: solid;
}

.button_container {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 30px;
  cursor: pointer;
  z-index: 101;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active {
  position: fixed;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;

}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FFF;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  -webkit-transition: opacity .35s, visibility .35s;
  -moz-transition: opacity .35s, visibility .35s;
  -o-transition: opacity .35s, visibility .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 100;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
  animation-delay: .55s;
}
.overlay nav {
  position: relative;
  height: 500px;
  min-height: 500px;
  margin-top: 15%;
  font-size: 50px;
  font-family: 'Spectral', serif;
  font-weight:700;
  text-align: center;
}
.overlay hr {
  color: #fff;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: left;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  margin: -50px auto;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  border-width: 1.5px;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}



#left {

  width: 50%;
  height: 100vh;
  background-color: #FFF;

  float: left;
}
#right {
  width: 50%;
  height: 100vh;
  background-color: #000;
  align-items: center;
  overflow:scroll;
}

#services-right {
  float: right;
  width: 50%;
  height: 100vh;
  position: static;
  background-color: #000;
  align-items: center;
  overflow:scroll;
  z-index: 50;
}
.textbox {
  position: absolute;
  z-index: 45;
  flex-basis: 500px;
  max-width: 300px;
  margin-right: 15%;
  margin-left: 10%;
  margin-top: 5%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}

.services-textbox {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  height: auto;
  flex-basis: 400px;
  max-width: 400px;
  margin-right: 15%;
  margin-left: 16%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;
           z-index: 45;
}
.blog-textbox {
  position: relative;
  margin-top: 75px;
  margin-bottom: 100px;
  height: auto;
  flex-basis: 400px;
  max-width: 400px;
  margin-right: 15%;
  margin-left: 16%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;
           z-index: 45;
}


.services-textbox h2 {
  margin: 0;
}
.blog-textbox h2 {
  margin: 0;
}


span .bullet {
  display: list-item;
  list-style-type:disc;


}

.left-textbox {
  margin-top: 70px;
  width: 500px;
  max-width: 300px;
  margin-right: 15%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}
.contact-textbox {
  position: absolute;
  z-index: 45;
  flex-basis: 500px;
  max-width: 500px;
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;

}

h2 {
  font-family: 'Spectral', serif;
  font-size:30px;
  color: #fff;
  line-height: 1.1;
}


h1 {
  font-family: 'Spectral', serif;
  font-size:80px;
  font-weight: 700;
  color: #000;
  line-height: 1.1;
}

p {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  color: #fff;
  display: block;
}


#left hr {
    margin-top: -20px;
}

#right hr {
  color: #FFF;
}

#services-right hr {
  color: #FFF;
}


#headerbox {
  margin-top: 5%;
  margin-left: 8%;
  -webkit-animation: fadeinDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinDown 1.5s; /* Firefox < 16 */
       -ms-animation: fadeinDown 1.5s; /* Internet Explorer */
        -o-animation: fadeinDown 1.5s; /* Opera < 12.1 */
           animation: fadeinDown 1.5s;


}

#headerbox p {
  color: black;
}

.photo-1 {
  width: 30%;
  min-width: 200px;
  height: auto;
  float: left;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin-bottom: -5px;
  z-index: 1;
}

.photo-2 {
  min-width: 200px;
  max-height: 400px;
  height: auto;
  position:absolute;
  right: 0;
  overflow:hidden;
  z-index: 1;
}

.photo-3 {
  width: 20%;
  min-width: 200px;
  height: auto;
  max-height: 300px;
  float: left;
  position: absolute;
  bottom: 15%;
  overflow: hidden;
  margin-bottom: -5px;
  z-index: 1;
}

.photo-4 {
  width: 20%;
  min-width: 200px;
  height: auto;
  max-height: 400px;
  float: right;
  right: 0;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin-bottom: -5px;
  z-index: 1;
}

.logo {
  height: 50px;
  width: 50px;
  margin-bottom: -10px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 100px;
   z-index: 40;
}

#footer ul {
  list-style: none;
  font-family: 'Source Code Pro', sans-serif;
  margin: 0 0;
  display: inline;
  height: 50px;
  float: left;
}

#footer ul li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
}

#footer ul li a:hover {
  color: #B2b2b2;

}
#quotes {
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  bottom: 0;

}
#quote-white{
  display: inline-block;
  float: right;
}

#quote-black {
  display: inline-block;

}
h3 {
  font-size: 12px;
  color: #B2B2B2;
  font-weight: normal;
}

h4 {
  font-size: 12px;
  color: #000;
  font-weight: normal;
}


@keyframes fadeinDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Internet Explorer */
@-ms-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* Opera < 12.1 */
@-o-keyframes fadeinDown {
  0% {
   opacity: 0;
   transform: translateY(-20px);
}
100% {
   opacity: 1;
   transform: translateY(0);
}
}

/* EMAIL FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 8px 10px; /* Some padding */
  border: 1.5px solid #FFF; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: -1.5px; /* Add a top margin */
  margin-bottom: -1.5px; /* Bottom margin */
  overflow: scroll;
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */

}

input {
  background-color: black;
  font-family: 'Source Code Pro', Serif;
  color: white;
}

textarea {
  font-family: 'Source Code Pro', Serif;
}

#subject {
  background-color: #000;
  color: white;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  border: 1.5px solid white;
  padding: 12px 20px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

/* When moving the mouse over the submit button */
input[type=submit]:hover {
  background-color: #FFF;
  color: #000;
}

/* Add a background color and some padding around the form */
.email-form {


}

/* ACCORDION LIST */


a {
  text-decoration: none;
  color: inherit;
}

.description {
  margin: 1em auto 2.25em;
}

.services-textbox ul  {
  list-style: none;
  padding: 0;
}
.blog-textbox ul  {
  list-style: none;
  padding-left: 0;
}
ul .inner {
  padding-left: 15%;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}

.inner span {
  font-size: 15px;
  font-weight: bold;
}

.inner a {
  text-decoration: underline;
}
.services-textbox ul li {
  margin: 0.5em 0;
  color: white;
}
.blog-textbox ul li {
  margin: 0.5em 0 50px 0;
  color: white;

}
.blog-textbox ul li h2:hover {
  text-decoration: underline white;

}
.blog-textbox ul li h2:after {
text-decoration: none;

}

.blog-textbox p a{
  text-decoration: underline white;

}

ul li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #FFF;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;

}
ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);

}

.toggle {
  text-decoration: none;
 }
/* ACCORDIAN LIST UNDERLINES

.div-underline {
  text-decoration: underline;

}
*/

/* MEDIA QUERIES START HERE */

@media screen and (max-width: 1200px) {


  #footer h4 {
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) {

#quotes {
  display: none;
}
}
@media screen and (max-width: 800px) {
  #quotes {
    display: inline-block;
    margin: 0 0;
    margin-top: 40px;
    margin-right: 3%;
    float: right;
    width: 0px;
    height: 0px;
  }

#quote-white {
  display: none;
}

#quote-black {
  display: block;
  float: right;
  margin: 0 0;
  margin-right: 5px;
}

.button_container {
  top: 2%;
  right: 5%;
}

.button_container span {
    background: black;
    color: black;

  }

#container {
    display: block;
  }

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
  }

#left {

    width: 100vw;
    max-height: 500px;

  }

#right {

    width: 100vw;
    max-height: 700px;

  }

  #services-right {
      display: flex;
      width: 100vw;
      height: auto;

    }
.services-textbox {
  margin-left: 8%;
  margin-bottom: 30px;
  z-index: 45;
}
.blog-textbox {
  margin-left: 8%;
  margin-bottom: 30px;
  z-index: 45;
}
p {
  font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 30;
}

#footer ul {
  margin-top: 15px;
}

.photo-1 {
  margin-bottom: 95px;
  right: 0;
  position: absolute;
  bottom: 0;
}

.photo-4 {
  margin-bottom: 100px;
}

.textbox {
  position: absolute;
  margin-left: 8%;
  z-index: 45;
}



.article p {
  font-size: 16pt;
}



@media screen and (max-width: 600px) {

#right {
  height: 520px;
}

h1 {
  font-size: 70px;
}

.textbox {

  z-index: 45;
}

h3, h4{
  font-size: 9px;
}

p {
  font-size: 12px;
}

#footer ul {
  margin-top: 25px;
}
.contact-textbox {
  margin-left: 8%;
  z-index: 45;
}
#quotes {
  display: none;
}
}
